<app-header></app-header>

<div class="main-content-wrapper">
  <div class="create-wrapper">
    <button mat-raised-button color="primary" type="button" (click)="create()">Add</button>
  </div>
  <mat-card>
    <mat-list>
      <ng-container *ngFor="let contact of contacts$ | async">
        <mat-list-item>
          <span>{{contact.name}} - {{contact.phone}}</span>
          <span class="fill-remaining-space"></span>
          <button mat-icon-button (click)="edit(contact)" matListItemMeta>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="remove(contact)" matListItemMeta>
            <mat-icon>close</mat-icon>
          </button>
        </mat-list-item>
      </ng-container>
      <mat-list-item *ngIf="!(contacts$ | async)?.length">
        No contacts
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
